.stack {
  min-width: 280px;
  max-width: 280px;
  height: calc(100% - 7px);
  margin-right: 40px;
  padding-right: 8px;
}

.stack-header {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.stack-left {
  display: flex;
  align-items: center;
}

.stack-left__icon {
  display: flex;
}

.stack-left__title {
  padding-left: 10px;
}

.stack-left__count {
  padding-left: 10px;
  color: #797979;
}

.stack-right {
  display: flex;
}

.stack-right__icon {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: relative;
}

.avatar .online {
  background: #23eb23;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  right: -4px;
  top: 15px;
}

.avatar .offline {
  background: #ccc;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  right: -4px;
  top: 15px;
}

.task-card {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, .2);
  padding: 10px;
  margin-bottom: 10px;
}

.task-card .row {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.task-card .row:last-child {
  margin-bottom: 0px;
}

.task-card .row.row1 {
  justify-content: space-between;
}

.task-card .row.row2 {
  margin-bottom: 15px;
}

.task-card .task-card__id {
  color: #797979;
}

.task-card .task-card__title {
  font-weight: 500;
}

.task-card .task-card__border {
  border: 1px solid #e4e4e4;
  padding: 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.task-card .task-card-tag-wrapper {
  display: flex;
}

.task-card .task-card-tag-wrapper .task-card-tag {
  border: 1px solid #e4e4e4;
  padding: 3px;
  border-radius: 4px;
  color: #797979;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  height: 16px;
}

.task-card .task-card-tag-wrapper .task-card-tag .circle {
  height: 10px;
  width: 10px;
  background: #BEC1C7;
  border-radius: 50%;
}
