.stack {
  min-width: 280px;
  max-width: 280px;
  height: calc(100% - 7px);
  margin-right: 40px;
  padding-right: 8px;
}

.stack-header {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.stack-left {
  display: flex;
  align-items: center;
}

.stack-left__icon {
  display: flex;
}

.stack-left__title {
  padding-left: 10px;
}

.stack-left__count {
  padding-left: 10px;
  color: #797979;
}

.stack-right {
  display: flex;
}

.stack-right__icon {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
